#one{
    color: aliceblue;
    background-color: rgb(92, 92, 91);
    width: 400px;
    margin: 200px 15px 200px 600px;
    text-align:center;
    font-size: 90px;
    text-shadow: 5px 5px rgb(191, 143, 143) ;
}
#two{
    color: rgb(241, 237, 245);
    background-color: rgb(141, 116, 204);
    width: 400px;
    margin: 200px 15px 200px 600px;
    text-align: center;
    font-size: 90px;
}